


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    float: none;
    text-align: center;
}
.box{
    position: relative;
    padding: 15px;
    margin-top: 10px;
    overflow: auto;
}
.food1 {
    float: right;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: tomato;
    background-color: gainsboro;
    border: 1px solid black;
    margin-top: 0%;
    position: relative;
    top: auto;      
    right: auto;
}
.food2{
    float: right;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: tomato;
    background-color: rgb(18, 0, 136);
    border: 1px solid black;
    margin-top: 0%;
    position: relative;
    top: auto;      
    right: auto;
}
.food3{
    float: right;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: rgb(0, 154, 33);
    background-color: rgb(38, 2, 95);
    border: 1px solid black;
    margin-top: 0%;
    position: relative;
    top: auto;      
    right: auto;
}
.description{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 6, 174);
    position: relative;
    margin-top: 40px;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
@media (min-width: 992px){
    .lg{
        float: left;
        border: 1px solid black;
       margin-top: 5px;
       margin-right: 10px;
       background-color: darkgray;
      }
      .lg{
        width: 32%;
      }
}
@media (min-width: 768px) and (max-width: 991px){
    .md3, .md6 {
        float: left;
        border: 1px solid black;
       margin-top: 5px;
       margin-right: 10px;
       background-color: darkgray;
       
      }
      .md3{
        width: 48%;
      }
      .md6{
        width: 100%;
      }
     
}
@media (max-width: 767px){
    .sm {
        float: left;
        border: 1px solid black;
       margin-top: 5px;
       margin-right: 10px;
       background-color: darkgray;
      }
      
      .sm {
        width: 100%;
      }
}